@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/masmerise/livewire-toaster/resources/views/*.blade.php'; /*toaster*/
/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes: all; /*light --default, dark --prefersdark, business, dim, black, luxury, coffee;*/
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

@layer components {
    /* Vertikaler Text für den Menü-Streifen */
    .vertical-text {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
    }
    .menu-aside, .menu-container {
        @apply relative z-10;
        -webkit-box-shadow: 10px 2px 10px -8px #000000;
        box-shadow: 10px 2px 10px -8px #000000;
    }

    .menu-trigger {
         @apply w-12 flex flex-col items-center justify-between py-8 cursor-pointer bg-base-200/50 border-l border-white/5 hover:bg-base-100 shrink-0;

    }

    /* Der Hover-Effekt und die Abstufungen der Menü-Items */
    .bearny-codes-menu-item {
        @apply border-b border-base-100 transition-colors duration-200 px-4 py-3 flex items-center justify-between;
        /*background: linear-gradient(to bottom, #25262b 0%, #1e1f23 100%);*/
    }

    .bearny-codes-menu-item:hover {
        @apply bg-base-100 brightness-125;
    }

    .bearny-codes-menu-item-active {
        @apply border-l-4 border-l-primary;
    }

}

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}
.mary-pin-input input {
    @apply bg-white text-gray-900;
}